# Week 1 Tutorial (ChatGPT Transcript Log included in the Summary)

### 1) - Python Calculator example below

In [1]:
x = 5 + 3
x

8

### 2) - Finding an ammusing, funny or otherwise interesting dataset

#### 1. Load data into the notebook using pandas

In [3]:
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
wine_data = pd.read_csv(url, sep=';')
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv"
housing_data = pd.read_csv(url)
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              200 non-null    int64
 1    Height(Inches)"   200 non-null    float64
 2    "Weight(Pounds)"  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

#### 2. Getting missing data counts

In [11]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_data = pd.read_csv(url)
titanic_data.info()
missing_data = titanic_data.isnull().sum()

# Display the total missing values per column
print(missing_data)

# Alternatively, view the percentage of missing data for each column
missing_percentage = (titanic_data.isnull().mean() * 100).round(2)
print(missing_percentage)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64
Survived                   0.0
Pclass                     0.0
Name                       0.0
Sex                        0.0
Age                        0.0
Siblings/Spouses Aboard    0.0
Parents/Children Aboard    0.0
Fare                       0.0
dtype: float64

*There seems to be no missing data for the above dataset*

In [16]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_data_with_missing = pd.read_csv(url)

# Check for missing data
missing_data = titanic_data_with_missing.isnull().sum()
print(missing_data)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

*Now we have an updated dataset with missing values and can also observe the missing value counts of the dataset*

### 3) - Asking ChatGPT for a summary of our Interaction

Here’s a summary of our interaction:

---

### Interaction Summary

**Transcript Log**: https://chatgpt.com/share/aa9bb2c8-5713-42c2-a02f-c7669c479a0f

**Date**: September 6, 2024

**Objective**: The user was seeking datasets that are amusing, funny, or otherwise interesting and also wanted to work with datasets containing missing data. 

**Key Points:**

1. **Dataset Recommendations**:
   - **Initial Suggestions**: Provided a list of datasets including the Titanic, UFO sightings, and Spotify tracks. Many were hosted on Kaggle.
   - **Follow-Up**: Due to the user’s preference to avoid Kaggle links, alternative sources were suggested including datasets from public repositories and direct URLs.
   - **Issues Encountered**: Some provided links were not working or did not meet the user’s criteria for amusing datasets.<br><br>

2. **Handling Missing Data**:
   - **Initial Checks**: Demonstrated how to identify missing data in the Titanic dataset.
   - **Final Recommendations**: Suggested alternative datasets (e.g., World Happiness Report, Diabetes Dataset) with missing data. Confirmed successful identification of missing data in the Titanic dataset.<br><br>

3. **Feedback and Ratings**:
   - **Funny/Amusing Datasets**: The user felt the initial suggestions were lacking and rated the performance as B- for this aspect.
   - **Missing Data**: The user acknowledged the improved performance in handling missing data and rated it A-.
   - **Working Links and Pandas Usage**: The user rated the performance highly (A+) for providing working links and suggesting pandas for data loading.<br><br>

4. **Final Notes**:
   - **Testing and Improvement**: The user tested various aspects of the chatbot's capabilities. Feedback was provided to improve dataset recommendations and the relevance of suggestions.

---